.buttons{
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 30px;
    border: dodgerblue solid 1px;
    border-radius: 10px;
    font-weight: 600;
}
.buttons:hover{
    transform:scale(1.1);

}

.block{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.title{
    font-size: calc(10px + 3vmin);
    font-weight: bold;
    padding-top: 3em;


}